<?xml version="1.0" encoding="UTF-8"?>
<!-- MyBatis-Generator 相关配置 -->
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<!-- 所有的配置均在根元素 generatorConfiguration 下 -->
<generatorConfiguration>
     <properties resource="db.properties"></properties>


    <context id="simple" targetRuntime="MyBatis3">


        <commentGenerator>
            <!--设置是否生成注释  true 不生成  注意： 如果不生成注释，下次生成代码就不会进行合并-->
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <!--数据源 -->
        <jdbcConnection driverClass="${driver}" connectionURL="${url}" password="${password}" userId="${username}">
            <property name="useInformationSchema" value="true"/>
        </jdbcConnection>

        <!--pojo
        javaModelGenerator  java实体生成规则(POJO)
            targetPackage 生成到哪个包下
            targetProject 生成到当前文件的哪个相对路径下
        -->
        <javaModelGenerator targetPackage="com.example.model" targetProject="E:/work/universe/demo-mybatis/src/main/java"/>
        <!--mapper xml映射文件
            sqlMapGenerator mapper xml映射文件生成规则
            targetPackage 生成到哪个包下
            targetProject 生成到当前文件的哪个相对路径下
        -->
        <sqlMapGenerator targetPackage="com.example.mapper" targetProject="E:/work/universe/demo-mybatis/src/main/resources"></sqlMapGenerator>
        <!--mapper接口
            javaClientGenerator mapper mapper接口生成规则
            type 指定生成的方式
                1.使用注解的方式生成
                2.使用接口绑定的方式生成（要配置sqlMapGenerator）
            targetPackage 生成到哪个包下
            targetProject 生成到当前文件的哪个相对路径下-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.example.mapper" targetProject="E:/work/universe/demo-mybatis/src/main/java"/>


        <!--配置哪些表需要进行代码生成
        tableName 表名
        domainObjectName pojo类名
        mapperName 对应mapper接口的类名 和 mapper xml文件名
        -->
        <table tableName="author" domainObjectName="Author" mapperName="AuthorMapper" />
        <table tableName="blog" domainObjectName="Blog" mapperName="BlogMapper" />
        <table tableName="comment" domainObjectName="Comment" mapperName="CommentMapper" />
        <table tableName="post" domainObjectName="Post" mapperName="PostMapper" />
        <table tableName="post_tag" domainObjectName="PostTag" mapperName="PostTagMapper" />
        <table tableName="tag" domainObjectName="Tag" mapperName="TagMapper" />
    </context>
</generatorConfiguration>
